{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

<div class="example-wrapper">
    <h1>Page Accueil</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum eius provident sit voluptas tempore nesciunt velit exercitationem ducimus, totam, voluptatum nulla eveniet! Non eligendi ipsa inventore numquam ullam minus quidem.
    Itaque praesentium maxime reprehenderit amet labore sapiente, quis eos dolorum! Laborum autem aspernatur quod iste in architecto saepe, similique perferendis.</p>
</div>
{% endblock %}
