{% extends 'base.html.twig' %}

{% block title %}Jeu index{% endblock %}

{% block body %}
    <h1>Jeu index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>DateCreated</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jeu in jeus %}
            <tr>
                <td>{{ jeu.id }}</td>
                <td>{{ jeu.name }}</td>
                <td>{{ jeu.description }}</td>
                <td>{{ jeu.dateCreated ? jeu.dateCreated|date('Y-m-d') : '' }}</td>
                <td>{{ jeu.image }}</td>
                <td>
                    <a href="{{ path('app_jeu_show', {'id': jeu.id}) }}">show</a>
                    <a href="{{ path('app_jeu_edit', {'id': jeu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_jeu_new') }}">Create new</a>
{% endblock %}
