{% extends 'base.html.twig' %}

{% block title %}Jeu{% endblock %}

{% block body %}
    <h1>Jeu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jeu.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ jeu.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ jeu.description }}</td>
            </tr>
            <tr>
                <th>DateCreated</th>
                <td>{{ jeu.dateCreated ? jeu.dateCreated|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ jeu.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_jeu_index') }}">back to list</a>

    <a href="{{ path('app_jeu_edit', {'id': jeu.id}) }}">edit</a>

    {{ include('jeu/_delete_form.html.twig') }}
{% endblock %}
