{% extends 'base.html.twig' %}

{% block title %}Avis index{% endblock %}

{% block body %}
    <h1>Avis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>DateSend</th>
                <th>Notation</th>
                <th>DateModeration</th>
                <th>IsValid</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avi in avis %}
            <tr>
                <td>{{ avi.id }}</td>
                <td>{{ avi.description }}</td>
                <td>{{ avi.dateSend ? avi.dateSend|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ avi.notation }}</td>
                <td>{{ avi.dateModeration ? avi.dateModeration|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ avi.isValid ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_avis_show', {'id': avi.id}) }}">show</a>
                    <a href="{{ path('app_avis_edit', {'id': avi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_avis_new') }}">Create new</a>
{% endblock %}
