{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
    <h1>Avis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ avi.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ avi.description }}</td>
            </tr>
            <tr>
                <th>DateSend</th>
                <td>{{ avi.dateSend ? avi.dateSend|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Notation</th>
                <td>{{ avi.notation }}</td>
            </tr>
            <tr>
                <th>DateModeration</th>
                <td>{{ avi.dateModeration ? avi.dateModeration|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsValid</th>
                <td>{{ avi.isValid ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_avis_index') }}">back to list</a>

    <a href="{{ path('app_avis_edit', {'id': avi.id}) }}">edit</a>

    {{ include('avis/_delete_form.html.twig') }}
{% endblock %}
